<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="client">
                <span class="principal">{{accion}}</span>
            </h1>
        </div>

        <div class="row">
            <div class="col-lg-6 col-md-6">
                <form [formGroup]="myForm" autocomplete="off">
                    <div class="row">

                        <div class="row">
                            <div class="col-lg-6">
                                <mat-form-field appearance="fill">
                                    <mat-label> Variable </mat-label>
                                    <mat-select formControlName="variable">
                                        <mat-option *ngFor="let variable of variableApi" [value]="variable">
                                            {{variable}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <div *ngIf="myForm.controls['variable'].hasError('required') && myForm.controls['variable'].touched"
                                    style="margin-top: -15px;">
                                    <span class="mda-form-msg">Este campo es <strong>requerido</strong></span>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-8">

                            <mat-form-field class="examle-container" [style.fontSize.px]=15>
                                <mat-label>Minimo</mat-label>
                                <input matInput formControlName="min" placeholder="Minimo...">
                            </mat-form-field>
                            <div *ngIf="myForm.controls['min'].hasError('required') && myForm.controls['min'].touched"
                                style="margin-top: -15px;">
                                <span class="mda-form-msg">Este campo es <strong>requerido</strong></span>
                            </div>
                            <div *ngIf="myForm.controls['min'].hasError('maxlength') && myForm.controls['min'].touched"
                                style="margin-top: -15px;">
                                <span class="mda-form-msg">El campo debe tener como minimo <strong> 8
                                        caracteres</strong></span>
                            </div>
                            <div *ngIf="myForm.controls['min'].hasError('minlength') && myForm.controls['min'].touched"
                                style="margin-top: -15px;">
                                <span class="mda-form-msg">El campo debe tener como minimo <strong> 8
                                        caracteres</strong></span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-8">
                                <mat-form-field class="examle-container" [style.fontSize.px]=15>
                                    <mat-label>Maximo</mat-label>
                                    <input matInput formControlName="max" placeholder="Ingresa Umbral Minimo(Positivos o Negativos)..">
                                </mat-form-field>
                                <div *ngIf="myForm.controls['max'].hasError('required') && myForm.controls['max'].touched"
                                    style="margin-top: -15px;">
                                    <span class="mda-form-msg">Este campo es <strong>requerido</strong></span>
                                </div>
                                <div *ngIf="myForm.controls['max'].hasError('maxlength') && myForm.controls['max'].touched"
                                    style="margin-top: -15px;">
                                    <span class="mda-form-msg">El campo debe tener como minimo <strong> 8
                                            caracteres</strong></span>
                                </div>
                                <div *ngIf="myForm.controls['max'].hasError('minlength') && myForm.controls['max'].touched"
                                    style="margin-top: -15px;">
                                    <span class="mda-form-msg">El campo debe tener como minimo <strong> 8
                                            caracteres</strong></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-8">
                                <mat-form-field class="examle-container" [style.fontSize.px]=15>
                                    <mat-label>Color</mat-label>
                                    <input matInput formControlName="color" placeholder="color..">
                                </mat-form-field>
                                <div *ngIf="myForm.controls['color'].hasError('required') && myForm.controls['color'].touched"
                                    style="margin-top: -15px;">
                                    <span class="mda-form-msg">Este campo es <strong>requerido</strong></span>
                                </div>
                                <div *ngIf="myForm.controls['color'].hasError('maxlength') && myForm.controls['color'].touched"
                                    style="margin-top: -15px;">
                                    <span class="mda-form-msg">El campo debe tener como minimo <strong> 8
                                            caracteres</strong></span>
                                </div>
                                <div *ngIf="myForm.controls['color'].hasError('minlength') && myForm.controls['color'].touched"
                                    style="margin-top: -15px;">
                                    <span class="mda-form-msg">El campo debe tener como minimo <strong> 8
                                            caracteres</strong></span>
                                </div>
                            </div>
                        </div>

                  
            

            
                        <div class="col-lg-8">
                            <div class="row">
                                <div class="col-md-4">
                                    <button mat-raised-button color='warn'(click)="saveCapture()">GUARDAR</button>
                                </div>
                                <div class="col-md-4">
                                    <button mat-raised-button color='primary'
                                    routerLink="/general/1/configuracion/thresholdsList">CANCELAR</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>