<br>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="d-flex flex-column md-4">
                <div class="p-2 col-md-4">
                    <a class="pointer" routerLink="lockClient/:i" type="button">
                        <h3><span>Servicios</span> </h3>
                    </a>
                </div>
                <br>
                <div class="p-2 col-md-4">
                    <a class="boton boton--secundario" routerLink="configuracion">
                        <h3><span>Configuracion</span></h3>
                    </a>
                </div>
                <br>
                <div class="p-2 col-md-4">
                    <a class="boton boton--secundario" routerLink="vizualizacion">
                        <h3><span>Vizualizacion</span></h3>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-8">

            <router-outlet>
               
               

            </router-outlet>


        </div>
    </div>

</div>