<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="client">
                <span class="principal">{{accion}}</span>
            </h1>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6">

                <form [formGroup]="myForm" autocomplete="off">

                    <div class="row">
                        <div class="col-lg-8 col-md-8">
                            <mat-form-field class="examle-container" [style.fontSize.px]=15>
                                <mat-label>Nombre</mat-label>
                                <input matInput formControlName="nombreCliente" placeholder="Nombre Cliente..">
                            </mat-form-field>
                            <div *ngIf="myForm.controls['nombreCliente'].hasError('required') && myForm.controls['nombreCliente'].touched"
                                style="margin-top: -15px;">
                                <span class="mda-form-msg">Este campo es <strong>requerido</strong></span>
                            </div>
                            <div *ngIf="myForm.controls['nombreCliente'].hasError('maxlength') && myForm.controls['usuarioAsifnado'].touched"
                                style="margin-top: -15px;">
                                <span class="mda-form-msg">El campo debe tener como minimo <strong> 8
                                        caracteres</strong></span>
                            </div>
                            <div *ngIf="myForm.controls['nombreCliente'].hasError('minlength') && myForm.controls['nombreCliente'].touched"
                                style="margin-top: -15px;">
                                <span class="mda-form-msg">El campo debe tener como minimo <strong> 8
                                        caracteres</strong></span>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-lg-8">
                            <mat-form-field class="examle-container" [style.fontSize.px]=15>
                                <mat-label>Usuario Asignado (Correo Electronico)</mat-label>
                                <input matInput formControlName="usuarioAsifnado" placeholder="Usuario Asifnado..">
                            </mat-form-field>
                            <div *ngIf="myForm.controls['usuarioAsifnado'].hasError('required') && myForm.controls['usuarioAsifnado'].touched"
                                style="margin-top: -15px;">
                                <span class="mda-form-msg">Este campo es <strong>requerido</strong></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-8">
                            <mat-form-field class="examle-container" [style.fontSize.px]=15>
                                <mat-label>Contacto (N° Telefono)</mat-label>
                                <input matInput formControlName="contacto" placeholder="Contacto..">
                            </mat-form-field>
                            <div *ngIf="myForm.controls['contacto'].hasError('required') && myForm.controls['contacto'].touched"
                                style="margin-top: -15px;">
                                <span class="mda-form-msg">Este campo es <strong>requerido</strong></span>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-lg-6">
                            <mat-form-field appearance="fill">
                                <mat-label>Permiso Visualizacion</mat-label>
                                <mat-select formControlName="permisoVisualiza">
                                    <mat-option *ngFor="let permisoVisualiza of rolesApi" [value]="permisoVisualiza">
                                        {{permisoVisualiza}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <div *ngIf="myForm.controls['permisoVisualiza'].hasError('required') && myForm.controls['permisoVisualiza'].touched"
                                style="margin-top: -15px;">
                                <span class="mda-form-msg">Este campo es <strong>requerido</strong></span>
                            </div>
                        </div>
                    </div>

                    <br>

                    <div class="col-lg-8">
                        <div class="row">
                            <div class="col-md-4">
                                <button mat-raised-button color='warn' (click)="saveUser()">GUARDAR</button>
                            </div>
                            <div class="col-md-4">
                                <button mat-raised-button color='primary'
                                routerLink="/general/1/configuracion/sensorsList">CANCELAR</button>
                            </div>
                        </div>
                    </div>
                    
                </form>
            </div>
            <div class="col-md-6">

                
                    <img class="cliente" src="assets/img/usuario2.png"  alt="...">
               
              

            </div>

        </div>
    </div>
</div>