<div class="container">
    <div class="row">
        <div class="flex-container">
            <div class="a p-2 col-md-2">
                <a class="pointer" routerLink="userList" type="button">
                    <p><span>USUARIOS</span> </p>
                </a>
            </div>
            <div class="b p-2 col-md-3">
                <a class="pointer" routerLink="captureList" type="button">
                    <p><span>Sitio captura de datos</span> </p>
                </a>
            </div>
            <div class="c p-2 col-md-2">
                <a class="pointer" routerLink="sensorsList" type="button">
                    <p><span>SENSORES</span> </p>
                </a>
            </div>
            <div class="d p-2 col-md-2">
                <a class="pointer" routerLink="thresholdsList" type="button">
                    <p><span>UMBRALES</span> </p>
                </a>
            </div>
        </div>
    </div>

</div>


<div class="col-md-12">

    <router-outlet>



    </router-outlet>


</div>