<div _ngcontent-yfq-c11="" class="card-body">
    <h5 _ngcontent-yfq-c11="" class="caed-title text-center">Agregar Cita</h5>
    <!---->
    <div _ngcontent-yfq-c11="" class="form-group mb-3"><label _ngcontent-yfq-c11="" class="nombre">Nombre</label><input
            _ngcontent-yfq-c11="" type="text" id="nombre" placeholder="Ingrese su nombre"
            class="form-control ng-untouched ng-pristine ng-valid"></div>
    <div _ngcontent-yfq-c11="" class="form-group mb-3"><label _ngcontent-yfq-c11="" class="fecha">Fecha</label><input
            _ngcontent-yfq-c11="" type="date" id="fecha" class="form-control ng-untouched ng-pristine ng-valid"></div>
    <div _ngcontent-yfq-c11="" class="form-group mb-3"><label _ngcontent-yfq-c11="" class="hora">Hora</label><input
            _ngcontent-yfq-c11="" type="time" id="hora" class="form-control ng-untouched ng-pristine ng-valid"></div>
    <div _ngcontent-yfq-c11="" class="form-group mb-3"><label _ngcontent-yfq-c11=""
            class="sintomas">Sintomas</label><textarea _ngcontent-yfq-c11="" name="" id="sintomas" rows="3"
            placeholder="Ingrese Los Sintomas" class="form-control ng-untouched ng-pristine ng-valid"></textarea></div>
    <button _ngcontent-yfq-c11="" class="btn btn-primary btn-block" style="width: 100%;">Agregar</button>
</div>