<div class="row">

    <div class="col-md-4 ">
        <span class="titulo">NEXOS</span>
        <p class="texto">
            Somos proveedores de soluciones ágiles de tecnología,
            capaces de cubrir las necesidades de negocio de
            nuestros clientes y aliados,
            apostando a la transformación digital, garantizando la entrega y gestión
            oportuna, responsable, innovadora y ágil.<br>
            <a href="https://nxs.com.co/trabajo_nexos/">https://nxs.com.co</a>
        </p>
    </div>
    <div class="col-md-4">
        <span class="titulo">Encuéntranos en :</span>
        <p class="texto" >
            Medellín: Calle 49 sur # 45 A 300 Piso 18 Of. 1802 Ed. S48, Envigado, Antioquia. Teléfono: (604) 604 69 35 <br>
            Bogotá: Calle 100 #19 A -50 Of. 305 Ed. Internacional Tower Teléfono en Bogotá: (601) 7430753 <br>
            Teléfono en Cali: (602) 486 16 39
        </p>
    </div>



    <div class="col-md-4 redes">
        <span class="titulo">Nuestras Redes</span>
        <ul>
            <li> <a href=""><img src="assets/img/facebook.png" class="sun" alt="..."></a></li>
            <li> <a href=""><img src="assets/img/twitter.png" class="sun" alt="..."></a></li>
            <li> <a href=""><img src="assets/img/linkedin.png" class="sun" alt="..."></a></li>
            <li> <a href=""><img src="assets/img/instagram.png" class="sun" alt="..."></a></li>
        </ul>
    </div>

</div>